<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property='idUsuario' column='idUsuario' />
        <result property='idRecurso' column='idRecurso' />
        <result property='desde' column='desde' />
        <result property='hasta' column='hasta' />
        <result property='fechaSolicitado' column='fechaSolicitado' />
        <result property='recurrencia' column='recurrencia' />
        <result property='estado' column='estado' />
    </resultMap>

    <select id="getReservasUsuario" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.idUsuario=#{idUsuario}
            ORDER by re.desde ASC  
    </select>
    <select id="getReservas" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re  
        ORDER by re.desde ASC     
    </select>
    <select id="getReservasRecurso" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.idRecurso=#{idRecurso} AND re.estado=false
    </select>

    <select id="getReservaPorId" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.id=#{id} AND re.estado=false
            ORDER by re.desde ASC 
    </select>

    <select id="getRecursoMasUsado" resultType="int">
        SELECT idrecurso
            FROM public.reservas
            GROUP BY idrecurso
                ORDER BY COUNT(*) DESC
                LIMIT    3;
    </select>

    <select id="getRecursoMenosUsado" resultType="int">
        SELECT idrecurso
            FROM public.reservas
            GROUP BY idrecurso
                ORDER BY COUNT(*) ASC   
                LIMIT    3;
    </select>

    <select id="getHorariosMasUsados" resultType="String">
        SELECT  concat(to_char(desde ,'HH24:MI:SS'),' ',to_char(hasta ,'HH24:MI:SS'),' ', count (*))
            FROM public.reservas
                GROUP BY to_char(desde ,'HH24:MI:SS'),to_char(hasta ,'HH24:MI:SS')
                ORDER BY COUNT(*) DESC
                LIMIT    3;
    </select>

    <select id="getHorariosMenosUsados" resultType="String">
        SELECT  concat(to_char(desde ,'HH24:MI:SS'),' ',to_char(hasta ,'HH24:MI:SS'),' ', count (*))
            FROM public.reservas
                GROUP BY to_char(desde ,'HH24:MI:SS'),to_char(hasta ,'HH24:MI:SS')
                ORDER BY COUNT(*) ASC
                LIMIT    3;
    </select>

    <select id="getReservasRecurentes" resultMap="ReservaResult">
        SELECT
            id ,
            idUsuario ,
            idRecurso ,
            desde ,
            hasta ,
            fechaSolicitado,
            recurrencia,
            estado
            FROM public.reservas
                where recurrencia != 0;
    </select>

    <select id="getReservasCanceladas" resultMap="ReservaResult">
        SELECT
            id ,
            idUsuario ,
            idRecurso ,
            desde ,
            hasta ,
            fechaSolicitado,
            recurrencia,
            estado
            FROM public.reservas
                where estado != False;
    </select>

    <insert id="insertarReserva" parameterType="map">
        insert into RESERVAS (idUsuario, idRecurso, desde, hasta, recurrencia, estado) values
        (#{re.idUsuario}, #{re.idRecurso}, #{re.desde}, #{re.hasta}, #{re.recurrencia}, #{re.estado})
    </insert>

    <update id="cancelarReserva" parameterType="map">
        UPDATE reservas 
        SET estado = true
        WHERE reservas.id = #{id}
    </update>
</mapper>