<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property='idUsuario' column='idUsuario' />
        <result property='idRecurso' column='idRecurso' />
        <result property='desde' column='desde' />
        <result property='hasta' column='hasta' />
        <result property='fechaSolicitado' column='fechaSolicitado' />
        <result property='recurrencia' column='recurrencia' />
        <result property='estado' column='estado' />
    </resultMap>

    <resultMap id="TableResult" type="Table">
        <result property="nombreRecurso" column="nombreRecurso" />
        <result property="tipoRecurso" column="tipoRecurso" />
        <result property="nombreEstudiante" column="nombreEstudiante" />
        <result property="programaEstudiante" column="programaEstudiante" />
        <result property="fecha" column="fecha" />
        <result property="desde" column="desde" />
        <result property="hasta" column="hasta" />
        <result property="estado" column="estado" />
        <result property="recurrencia" column="recurrencia" />
        <result property="cantidad" column="cantidad" />
    </resultMap>
    <select id="getTable" resultMap="TableResult" parameterType="map">
        SELECT 
            r.nombre as nombreRecurso,
            r.tipo as tipoRecurso,
            u.nombre as nombreEstudiante,
            u.programa as programaEstudiante,
            re.desde::date as fecha,
            re.desde::time as desde,
            re.hasta::time as hasta,
            re.recurrencia as recurrencia,
            re.estado as estado,
            count (*) as cantidad
        FROM public.reservas AS re
        JOIN public.recursos AS r ON re.idrecurso=r.id
        JOIN public.usuarios AS u ON re.idusuario=u.id
        GROUP BY r.nombre,r.tipo,u.nombre,u.programa,re.desde,re.hasta,re.estado,re.recurrencia  
            ORDER BY COUNT(*) DESC
    </select>
    <select id="getReservasUsuario" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.idUsuario=#{idUsuario}
            ORDER by re.desde ASC  
    </select>
    <select id="getReservas" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re  
        ORDER by re.desde ASC     
    </select>
    <select id="getReservasRecurso" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.idRecurso=#{idRecurso}
    </select>

    <select id="getReservasActivas" resultMap="ReservaResult" parameterType="map">
        SELECT
        re.id ,
        re.idUsuario ,
        re.idRecurso ,
        re.desde ,
        re.hasta ,
        re.fechaSolicitado,
        re.recurrencia,
        re.estado
        FROM RESERVAS as re
        WHERE re.estado = true
    </select>

    <select id="getReservaPorId" resultMap="ReservaResult" parameterType="map">
        SELECT
            re.id ,
            re.idUsuario ,
            re.idRecurso ,
            re.desde ,
            re.hasta ,
            re.fechaSolicitado,
            re.recurrencia,
            re.estado
        FROM RESERVAS as re
            WHERE re.id=#{id}
            ORDER by re.desde ASC 
    </select>


    <insert id="insertarReserva" parameterType="map">
        insert into RESERVAS (idUsuario, idRecurso, desde, hasta, recurrencia, estado) values
        (#{re.idUsuario}, #{re.idRecurso}, #{re.desde}, #{re.hasta}, #{re.recurrencia}, #{re.estado})
    </insert>

    <update id="cancelarReserva" parameterType="map">
        UPDATE reservas 
        SET estado = #{estado}
        WHERE reservas.id = #{id}
    </update>
</mapper>